[submodule "review-prompts"]
	path = review-prompts
	url = https://github.com/masoncl/review-prompts.git
[submodule "semcode"]
	path = semcode
	url = https://github.com/rgushchin/semcode-devel.git
	branch = rustc_1_86
