[submodule "review-prompts"]
	path = review-prompts
	url = git@github.com:masoncl/review-prompts.git
[submodule "semcode"]
	path = semcode
	url = git@github.com:rgushchin/semcode-devel.git
	branch = rust_186
